@import '../common/variables';

.app-container.aether .grid-container .grid-item-1 .filter-box {
    box-shadow: none;
    border-radius: 0px;
    border: 1px solid #eeeeee;
    background: rgb(255, 255, 255);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(247, 247, 247, 1) 40%,
        rgba(254, 254, 254, 1) 100%
    );

    .title {
        font-weight: bold;
        font-family: 'Noto Sans KR';
    }

    .filters {
        display: flex;
        flex-direction: column;

        .subject {
            display: block;
            padding-bottom: 5px;
            width: 100%;
            font-weight: bold;
            font-size: 0.9em;
        }

        .filter {
            display: flex;

            .checkbox-item {
                flex-shrink: 0;

                span {
                    font-size: 0.9em;
                }
            }
        }
    }
}

.advisor-list {
    .advisor-item {
        display: flex;
        margin-top: 10px;
        box-sizing: border-box;
        border: 1px solid #eeeeee;

        .col {
            .row {
                display: flex;
                flex-direction: row;

                .advisor-picture {
                    flex-grow: 0;

                    img {
                        border-radius: 50%;
                    }
                }

                .advisor-introduction {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-grow: 1;

                    .personal-information {
                        flex-grow: 1;

                        .advisor-name {
                            font-size: 1.3em;
                            font-weight: bold;
                        }

                        .advisor-job {
                            font-size: 0.8em;
                            color: #888888;
                        }

                        .advisor-theme {
                            font-size: 0.75em;
                        }
                    }

                    .rating-information {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 0;

                        .advisor-rating {
                            & > span {
                                font-size: 1.3em;
                            }
                        }

                        .article-count {
                            text-align: right;
                            color: #aaaaaa;
                        }
                    }
                }

                .advisor-description {
                    margin-top: 10px;
                    font-size: 0.9em;
                }
            }

            .advisor-subscription {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
                box-sizing: border-box;
                border-style: solid;
                border-color: #eeeeee;
                text-align: center;

                .price {
                    font-family: 'Noto Sans KR';
                    color: $primary;
                }

                button {
                    margin-bottom: 15px;
                }
            }

            &.fg-1 {
                flex-grow: 1;
            }

            &.fg-0 {
                flex-grow: 0;
            }
        }
    }
}

@media screen and (min-width: $breakpoint-xs) {
    .app-container.aether .grid-container .grid-item-1 .filter-box {
        .filters {
            .filter {
                flex-wrap: nowrap;
                overflow-x: scroll;
            }
        }
    }

    .advisor-list {
        .advisor-item {
            flex-direction: column;
            padding: 10px;
            font-size: 0.8rem;

            .col {
                .row {
                    .advisor-picture {
                        img {
                            width: 60px;
                            height: 60px;
                        }
                    }

                    .advisor-introduction {
                        padding-left: 10px;

                        .personal-information {
                            .advisor-job {
                                padding-bottom: 3px;
                            }
                        }

                        .rating-information {
                            .advisor-rating {
                                & > span {
                                    font-size: 1.1em;
                                }
                            }

                            .article-count {
                                font-size: 0.8em;
                            }
                        }
                    }
                }

                .advisor-subscription {
                    width: 100%;
                    margin: 20px 0px 0px 0px;
                    padding: 20px 0px 0px 0px;
                    border-width: 1px 0px 0px 0px;

                    .price {
                        font-size: 1.2em;
                        margin-bottom: 15px;
                    }

                    button {
                        min-width: 150px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $breakpoint-md) {
    .app-container.aether .grid-container .grid-item-1 .filter-box {
        .filters {
            .filter {
                flex-wrap: wrap;
                overflow-x: unset;
            }
        }
    }

    .advisor-list {
        .advisor-item {
            flex-direction: row;
            padding: 20px;
            font-size: 0.9rem;

            .col {
                .row {
                    .advisor-picture {
                        img {
                            width: 68px;
                            height: 68px;
                        }
                    }

                    .advisor-introduction {
                        padding-left: 15px;

                        .personal-information {
                            .advisor-job {
                                padding-bottom: 5px;
                            }
                        }

                        .rating-information {
                            .advisor-rating {
                                & > span {
                                    font-size: 1.3em;
                                }
                            }

                            .article-count {
                                font-size: 0.9em;
                            }
                        }
                    }
                }

                .advisor-subscription {
                    width: 170px;
                    height: 100%;
                    margin: 0px 0px 0px 20px;
                    padding: 0px 0px 0px 20px;
                    border-width: 0px 0px 0px 1px;

                    .price {
                        font-size: 1.2em;
                        margin-bottom: 0px;
                    }

                    button {
                        width: 100%;
                    }
                }
            }
        }
    }
}
