// default
$drawer-width: 320px;
$center-grid-item-width: 720px;
$right-grid-item-width: 320px;

.app-drawer .drawer-paper {
    z-index: 900;
    box-sizing: border-box;
}

.app-drawer.current-tab-1 .drawer-paper {
    background-color: $body-bg;
    border: 0px;
}

.app-drawer:not(.current-tab-1) .drawer-paper {
    background-color: #ffffff;
    border: 0px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.app-drawer .drawer-paper .app-drawer-list .MuiListItem-root {
    border-radius: 5px;
}

.app-container.aether .grid-container .grid-item-1 {
    box-sizing: border-box;
    width: 100%;
    min-height: calc(100vh - 58px);
}

.app-container.aether .grid-container .grid-item-2 {
    box-sizing: border-box;
    width: 100%;
    min-height: calc(100vh - 58px);
}

.app-container.aether .grid-container .grid-item-trickery {
    box-sizing: border-box;
    width: 100%;
    min-height: calc(100vh - 58px);
}

@media screen and (min-width: $breakpoint-xs) {
    .app-drawer {
        display: none;
    }

    .app-container.aether {
        padding: 0px;
    }

    .app-container.aether .grid-container .grid-item-1 {
        width: 100%;
        max-width: 700px;
        margin: 0px auto;
    }

    .app-container.aether:not(.onlyRight) .grid-container .grid-item-2,
    .app-container.aether.onlyRight .grid-container .grid-item-2,
    .app-container.aether .grid-container .grid-item-trickery {
        display: none;
    }
}

@media screen and (min-width: $breakpoint-sm - 120px) {
    .app-container.aether.onlyRight {
        padding: 0px 10px;
    }

    .app-container.aether:not(.onlyRight) .grid-container .grid-item-1 {
        margin: initial;
        padding-left: 10px;
        max-width: calc(
            #{$breakpoint-sm} - #{$right-grid-item-width} - 40px -
                ((#{$breakpoint-sm} - 50px) - 100vw)
        );
    }

    .app-container.aether:not(.onlyRight) .grid-container .grid-item-2 {
        display: block;
        padding-right: 10px;
        max-width: calc(
            #{$right-grid-item-width} - (#{$breakpoint-sm} - (#{$breakpoint-sm} - 50px))
        );
    }
}

@media screen and (min-width: $breakpoint-sm - 50px) {
    .app-container.aether:not(.onlyRight) .grid-container .grid-item-1 {
        max-width: calc(#{$breakpoint-sm} - #{$right-grid-item-width} - 40px);
    }

    .app-container.aether:not(.onlyRight) .grid-container .grid-item-2 {
        max-width: calc(#{$right-grid-item-width} - (#{$breakpoint-sm} - 100vw));
    }
}

@media screen and (min-width: $breakpoint-sm) {
    .app-container.aether:not(.onlyRight) .grid-container .grid-item-1 {
        max-width: calc(100vw - #{$right-grid-item-width} - 40px);
    }

    .app-container.aether:not(.onlyRight) .grid-container .grid-item-2 {
        max-width: $right-grid-item-width;
    }

    .app-container.aether.onlyRight .grid-container .grid-item-1 {
        margin: initial;
        max-width: calc(
            (#{$breakpoint-xl} - #{$right-grid-item-width} - 27px) -
                (#{$breakpoint-xl} - #{$breakpoint-md}) - ((#{$breakpoint-md} - 100vw) / 2)
        );
    }

    .app-container.aether.onlyRight .grid-container .grid-item-2 {
        display: block;
        max-width: calc(#{$right-grid-item-width} - ((#{$breakpoint-md} - 100vw) / 2));
    }
}

@media screen and (min-width: $breakpoint-md) {
    .app-drawer {
        display: block;
    }

    .app-drawer .drawer-paper {
        height: calc(100vh - 48px);
        margin-top: 48px;
        padding: 5px 10px 10px 10px;
    }

    .app-drawer,
    .app-drawer .drawer-paper {
        width: calc(#{$drawer-width} - ((#{$breakpoint-xl} - #{$breakpoint-lg})) / 2);
    }

    .app-container.aether:not(.onlyRight) .grid-container .grid-item-1 {
        padding-left: 0px;
        max-width: calc(#{$center-grid-item-width} - (#{$breakpoint-lg} - 100vw));
    }

    .app-container.aether:not(.onlyRight) .grid-container .grid-item-2 {
        max-width: calc(#{$right-grid-item-width} - ((#{$breakpoint-xl} - #{$breakpoint-lg})) / 2);
    }

    .app-container.aether:not(.onlyRight) .grid-container .grid-item-trickery {
        display: block;
        max-width: calc(#{$drawer-width} - ((#{$breakpoint-xl} - #{$breakpoint-lg})) / 2);
    }

    .app-container.aether.onlyRight .grid-container .grid-item-1 {
        max-width: calc(
            (#{$breakpoint-xl} - #{$right-grid-item-width} - 27px) - (#{$breakpoint-xl} - 100vw)
        );
    }

    .app-container.aether.onlyRight .grid-container .grid-item-2 {
        max-width: $right-grid-item-width;
    }
}

@media screen and (min-width: $breakpoint-lg) {
    .app-drawer,
    .app-drawer .drawer-paper {
        width: calc(#{$drawer-width} - ((#{$breakpoint-xl} - 100vw) / 2));
    }

    .app-container.aether:not(.onlyRight) .grid-container .grid-item-1 {
        max-width: $center-grid-item-width;
    }

    .app-container.aether:not(.onlyRight) .grid-container .grid-item-2 {
        max-width: calc(#{$right-grid-item-width} - ((#{$breakpoint-xl} - 100vw)) / 2);
    }

    .app-container.aether:not(.onlyRight) .grid-container .grid-item-trickery {
        max-width: calc(#{$drawer-width} - ((#{$breakpoint-xl} - 100vw)) / 2);
    }

    .app-container.aether.onlyRight .grid-container .grid-item-1 {
        max-width: calc(
            (#{$breakpoint-xl} - #{$right-grid-item-width} - 27px) - (#{$breakpoint-xl} - 100vw)
        );
    }
}

@media screen and (min-width: $breakpoint-xl) {
    .app-drawer,
    .app-drawer .drawer-paper {
        width: $drawer-width;
    }

    .app-container.aether:not(.onlyRight) .grid-container .grid-item-2 {
        max-width: $right-grid-item-width;
    }

    .app-container.aether:not(.onlyRight) .grid-container .grid-item-trickery {
        max-width: $drawer-width;
    }

    .app-container.aether.onlyRight .grid-container {
        max-width: calc(
            (#{$breakpoint-xl} - #{$right-grid-item-width}) + #{$right-grid-item-width} + 27px
        );
        margin: 0px auto;
    }

    .app-container.aether.onlyRight .grid-container .grid-item-1 {
        max-width: calc(#{$breakpoint-xl} - #{$right-grid-item-width} - 27px);
    }
}
