@import '../common/variables';

.user-signin-container {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 40px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    border: 0px;

    .container-header {
        background: $secondary;
        background: linear-gradient(
            0deg,
            rgba(70, 67, 122, 1) 0%,
            rgba(73, 70, 128, 1) 35%,
            rgba(73, 70, 128, 1) 65%,
            rgba(70, 67, 122, 1) 100%
        );
        border: 0px;
        border-radius: 6px;
        margin: -20px 20px 10px 20px;
        box-shadow: 0 1px 4px 0 rgba(73, 70, 128, 0.3);
        padding: 13px;
        box-sizing: border-box;

        h4 {
            margin: 0px;
            padding: 0px 10px 5px 10px;
            box-sizing: border-box;
            color: rgba(255, 255, 255, 0.8);
            font-size: 1.2em;
        }

        .secondary {
            margin: 0px;
            padding: 0px 10px;
            box-sizing: border-box;
            color: rgba(255, 255, 255, 0.5);
            font-size: 0.8em;
        }
    }

    .container-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        font-size: 0.9em;

        .social-button-container {
            width: 300px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .social-button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60px;
                height: 60px;
                margin-right: 20px;
                border: 3px solid rgba(73, 70, 128, 0.1);
                border-radius: 50%;
                box-sizing: border-box;
                cursor: pointer;
                color: rgba(0, 0, 0, 0.5);
                transition: color 500ms cubic-bezier(0, 0, 0.2, 1) 0ms,
                    border-color 500ms cubic-bezier(0, 0, 0.2, 1) 0ms;
                -webkit-tap-highlight-color: transparent;
                user-select: none;

                &:last-child {
                    margin-right: 0px;
                }

                &:hover {
                    &.kakao {
                        color: $kakao;
                        border-color: $kakao;
                    }

                    &.naver {
                        color: $naver;
                        border-color: $naver;
                    }

                    &.google {
                        color: $google;
                        border-color: $google;
                    }

                    &.facebook {
                        color: $facebook;
                        border-color: $facebook;
                    }
                }
            }
        }

        .signin-container-divider {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            width: 100%;
            margin: 20px 10px;
            box-sizing: border-box;

            &:before,
            &:after {
                content: '';
                width: 100%;
                border-top: 1px solid #efefef;
            }

            .floating-string {
                text-align: center;
                font-weight: bold;
                color: rgba(73, 70, 128, 0.3);
            }
        }

        .input-item {
            width: 100%;

            &:last-child {
                margin-bottom: 0;
            }

            &.button-box {
                button {
                    box-shadow: 0 7px 10px 0 rgba(73, 70, 128, 0.3);
                }
            }

            .MuiInputBase-formControl {
                border-radius: 6px;
            }

            .checkbox-container {
                .MuiTypography-root {
                    font-size: inherit;
                }
            }
        }
    }
}

.back-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

@media screen and (min-width: $breakpoint-xs) {
    .user-signin-container {
        margin-top: -48px;
    }
}

@media screen and (min-width: $breakpoint-md) {
    .user-signin-container {
        margin-top: -64px;
    }
}
