@import url(https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap);
body {
  margin: 0px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 0.9rem;
  line-height: 1.6;
  background-color: #ffffff;
  color: #333333;
}

a {
  color: initial;
  text-decoration: none;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.left {
  text-align: left !important;
}

.center {
  text-align: center !important;
}

.right {
  text-align: right !important;
}

.red,
.error {
  color: #a10000 !important;
}

.green,
.success {
  color: #45bd00 !important;
}

.app-drawer .drawer-paper {
  z-index: 900;
  box-sizing: border-box;
}

.app-drawer .drawer-paper {
  background-color: #ffffff;
  border: 0px;
}

.app-drawer.is-b .drawer-paper {
  background-color: #ffffff;
  border: 0px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.app-drawer .drawer-paper .app-drawer-list .MuiListItem-root,
.app-mobile-drawer .drawer-body .app-drawer-list .MuiListItem-root {
  border-radius: 5px;
}

.app-container.aether .grid-container .grid-item-1 {
  box-sizing: border-box;
  width: 100%;
}

.app-container.aether .grid-container .grid-item-2 {
  box-sizing: border-box;
  width: 100%;
}

.app-container.aether .grid-container .grid-item-trickery {
  box-sizing: border-box;
  width: 100%;
}

.app-drawer .app-drawer-title {
  padding-top: 5px;
  font-size: 1.25rem;
  font-weight: bold;
}

.app-container.aether .grid-container .grid-item-1 h3 {
  border-bottom: 1px solid #eeeeee;
  padding: 5px 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.app-container.aether .grid-container .grid-item-1 div.message {
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 0.85em;
}

ul.pagination {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto;
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}

ul.pagination li.link {
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  margin-left: 9px;
  padding-top: 4px;
  text-align: center;
  line-height: 1.5;
  border-radius: 16px;
  color: #333333;
}

ul.pagination:not(a) > li.link:first-child,
ul.pagination > a:first-child > li.link {
  margin-left: 0px;
}

ul.pagination li.link.previous,
ul.pagination li.link.next {
  border: 0px;
  padding-top: 3px;
}

ul.pagination li.link.active {
  background-color: #3c007e;
  border: 1px solid #3c007e;
  opacity: 0.8;
  color: #ffffff;
  font-weight: bold;
}

ul.pagination li.link.disabled {
  opacity: 0.3;
}

div.app-footer-mobile .bottomNavigation {
  height: 56px;
  display: flex;
  justify-content: space-evenly;
  background-color: #1a1a1a;
  width: 100%;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: auto;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  z-index: 1200;
}

div.app-footer-mobile .bottomNavigation .navButton {
  padding: 0px;
  color: #cccccc;
}

div.app-footer-mobile .bottomNavigation .navButton .MuiSvgIcon-root {
  transition: font-size 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

div.app-footer-mobile .bottomNavigation .navButton.Mui-selected {
  color: #ffffff;
}

div.app-footer-mobile .bottomNavigation .navButton.Mui-selected .MuiSvgIcon-root {
  font-size: 2rem;
}

.app-mobile-drawer .drawer-header {
  height: 56px;
  border-bottom: 1px solid #efefef;
}

.app-mobile-drawer .drawer-body {
  width: 100%;
  box-sizing: border-box;
  max-width: 320px;
  background-color: #ffffff;
}

.app-mobile-drawer .drawer-body .app-drawer-list {
  padding: 10px;
}

header.aether-header {
  box-shadow: 0px -6px 10px 0px rgba(0, 0, 0, 0.8);
}

header.aether-header,
header.aether-header .header-title,
.header-navigation .tabs {
  min-height: 56px;
}

.header-navigation {
  position: absolute;
  width: 100%;
}

.header-navigation .tabs .MuiTabs-indicator {
  background-color: #7900ff;
  height: 5px;
}

header.aether-header .header-title h6 {
  font-family: "Noto Sans KR";
  font-size: 1.2rem;
}

.header-navigation .tabs {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 56px;
  margin: 0px auto;
}

.header-navigation .tabs .MuiTab-root {
  min-height: 56px;
  color: #aaaaaa;
}

.header-navigation .tabs .MuiTab-root.Mui-selected {
  color: #7900ff;
}

.header-navigation .tabs .MuiTab-root .MuiSvgIcon-root {
  font-size: 1.7rem;
}

.header-icon-container {
  position: absolute;
  right: 0px;
}

.header-icon-container .icons-desktop,
.header-icon-container .icons-mobile {
  display: inline-block;
  cursor: pointer;
  height: 56px;
  padding: 16px;
  background-color: #000000;
  box-sizing: border-box;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
}

.header-icon-container .icons-desktop .icon,
.header-icon-container .icons-mobile .icon {
  box-sizing: border-box;
  background: none;
  color: #333333;
}

.header-icon-container .icons-desktop .icon .MuiSvgIcon-root,
.header-icon-container .icons-mobile .icon .MuiSvgIcon-root {
  font-size: 1.5rem;
  color: #ffffff;
}

@media screen and (min-width: 0px) {
  body {
    padding-top: 62px;
  }

  header.aether-header .header-title {
    background-color: #000000;
  }

  header.aether-header .header-title h6 {
    color: #ffffff;
  }

  .app-container.aether {
    height: calc(100% - 56px + 10px);
    margin-bottom: 56px;
    padding: 0px;
  }

  .app-drawer,
.header-navigation,
.header-icon-container .icons-desktop {
    display: none;
  }

  .header-icon-container .icons-mobile {
    display: block;
  }

  .app-container.aether .grid-container .grid-item-1 {
    width: 100%;
    max-width: 700px;
    margin: 0px auto;
  }

  .app-container.aether .grid-container .grid-item-1,
.app-container.aether .grid-container .grid-item-2,
.app-container.aether .grid-container .grid-item-trickery {
    min-height: calc(100vh - 62px);
  }

  .app-container.aether:not(.onlyRight) .grid-container .grid-item-2,
.app-container.aether.onlyRight .grid-container .grid-item-2,
.app-container.aether .grid-container .grid-item-trickery {
    display: none;
  }
}
@media screen and (min-width: 904px) {
  .app-container.aether.onlyRight {
    padding: 0px 10px;
  }

  .app-container.aether:not(.onlyRight) .grid-container .grid-item-1 {
    margin: initial;
    padding-left: 10px;
    max-width: calc( 1024px - 320px - 40px - ((1024px - 50px) - 100vw) );
  }

  .app-container.aether:not(.onlyRight) .grid-container .grid-item-2 {
    display: block;
    padding-right: 10px;
    max-width: calc( 320px - (1024px - (1024px - 50px)) );
  }
}
@media screen and (min-width: 974px) {
  .app-container.aether:not(.onlyRight) .grid-container .grid-item-1 {
    max-width: calc(1024px - 320px - 40px);
  }

  .app-container.aether:not(.onlyRight) .grid-container .grid-item-2 {
    max-width: calc(320px - (1024px - 100vw));
  }
}
@media screen and (min-width: 1024px) {
  .app-container.aether:not(.onlyRight) .grid-container .grid-item-1 {
    max-width: calc(100vw - 320px - 40px);
  }

  .app-container.aether:not(.onlyRight) .grid-container .grid-item-2 {
    max-width: 320px;
  }

  .app-container.aether.onlyRight .grid-container .grid-item-1 {
    margin: initial;
    max-width: calc( (1440px - 320px - 27px) - (1440px - 1160px) - ((1160px - 100vw) / 2) );
  }

  .app-container.aether.onlyRight .grid-container .grid-item-2 {
    display: block;
    max-width: calc(320px - ((1160px - 100vw) / 2));
  }
}
@media screen and (min-width: 1160px) {
  body {
    padding-top: 70px;
  }

  header.aether-header .header-title {
    background-color: #ffffff;
  }

  header.aether-header .header-title h6 {
    color: #000000;
  }

  .app-drawer .drawer-paper {
    height: calc(100vh - 56px);
    margin-top: 56px;
    padding: 5px 10px 10px 10px;
  }

  .app-drawer,
.header-navigation,
.header-icon-container .icons-desktop {
    display: block;
  }

  .header-icon-container .icons-mobile {
    display: none;
  }

  .app-drawer,
.app-drawer .drawer-paper {
    width: calc(320px - ((1440px - 1366px)) / 2);
  }

  .app-footer-mobile {
    display: none;
  }

  .app-container.aether {
    height: auto;
    margin-bottom: 0px;
  }

  .app-container.aether:not(.onlyRight) .grid-container .grid-item-1 {
    padding-left: 0px;
    max-width: calc(720px - (1366px - 100vw));
  }

  .app-container.aether:not(.onlyRight) .grid-container .grid-item-2 {
    max-width: calc(320px - ((1440px - 1366px)) / 2);
  }

  .app-container.aether:not(.onlyRight) .grid-container .grid-item-trickery {
    display: block;
    max-width: calc(320px - ((1440px - 1366px)) / 2);
  }

  .app-container.aether.onlyRight .grid-container .grid-item-1 {
    max-width: calc( (1440px - 320px - 27px) - (1440px - 100vw) );
  }

  .app-container.aether.onlyRight .grid-container .grid-item-2 {
    max-width: 320px;
  }

  .app-container.aether .grid-container .grid-item-1,
.app-container.aether .grid-container .grid-item-2,
.app-container.aether .grid-container .grid-item-trickery {
    min-height: calc(100vh - 70px);
  }
}
@media screen and (min-width: 1366px) {
  .app-drawer,
.app-drawer .drawer-paper {
    width: calc(320px - ((1440px - 100vw) / 2));
  }

  .app-container.aether:not(.onlyRight) .grid-container .grid-item-1 {
    max-width: 720px;
  }

  .app-container.aether:not(.onlyRight) .grid-container .grid-item-2 {
    max-width: calc(320px - ((1440px - 100vw)) / 2);
  }

  .app-container.aether:not(.onlyRight) .grid-container .grid-item-trickery {
    max-width: calc(320px - ((1440px - 100vw)) / 2);
  }

  .app-container.aether.onlyRight .grid-container .grid-item-1 {
    max-width: calc( (1440px - 320px - 27px) - (1440px - 100vw) );
  }
}
@media screen and (min-width: 1440px) {
  .app-drawer,
.app-drawer .drawer-paper {
    width: 320px;
  }

  .app-container.aether:not(.onlyRight) .grid-container .grid-item-2 {
    max-width: 320px;
  }

  .app-container.aether:not(.onlyRight) .grid-container .grid-item-trickery {
    max-width: 320px;
  }

  .app-container.aether.onlyRight .grid-container {
    max-width: calc( (1440px - 320px) + 320px + 27px );
    margin: 0px auto;
  }

  .app-container.aether.onlyRight .grid-container .grid-item-1 {
    max-width: calc(1440px - 320px - 27px);
  }
}
