@import url(https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap);
body {
  margin: 0px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 0.9rem;
  line-height: 1.6;
  background-color: #fefefe;
  color: #333333;
  overflow-x: hidden;
}

a {
  color: initial;
  text-decoration: none;
}

.flex-container {
  display: flex;
}
.flex-container.column {
  flex-direction: column;
}
.flex-container.row {
  flex-direction: row;
}
.flex-container.align-center {
  align-items: center;
}
.flex-container.justify-center {
  justify-content: center;
}
.flex-container .grow {
  flex-grow: 1;
}
.flex-container .not-grow {
  flex-grow: 0;
}
.flex-container .shrink {
  flex-shrink: 1;
}
.flex-container .not-shrink {
  flex-shrink: 0;
}

@media screen and (min-width: 0px) {
  body {
    padding-top: 48px;
  }
}
@media screen and (min-width: 1160px) {
  body {
    padding-top: 64px;
  }
}
ul.pagination {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto;
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}
ul.pagination li.link {
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  margin-left: 9px;
  padding-top: 4px;
  text-align: center;
  line-height: 1.5;
  border-radius: 16px;
  color: #333333;
}
ul.pagination li.link.previous, ul.pagination li.link.next {
  border: 0px;
  padding-top: 3px;
}
ul.pagination li.link.active {
  background-color: #282828;
  border: 1px solid #282828;
  opacity: 0.8;
  color: #ffffff;
  font-weight: bold;
}
ul.pagination li.link.disabled {
  opacity: 0.3;
}
ul.pagination:not(a) li.link:first-child,
ul.pagination a:first-child > li.link {
  margin-left: 0px;
}
