@import url(https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap);
body {
  margin: 0px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 0.9rem;
  line-height: 1.6;
  background-color: #ffffff;
  color: #333333;
}

a {
  color: initial;
  text-decoration: none;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.left {
  text-align: left !important;
}

.center {
  text-align: center !important;
}

.right {
  text-align: right !important;
}

.red,
.error {
  color: #a10000 !important;
}

.green,
.success {
  color: #45bd00 !important;
}

.app-drawer .drawer-paper {
  z-index: 900;
  box-sizing: border-box;
}

.app-drawer .drawer-paper {
  background-color: #ffffff;
  border: 0px;
}

.app-drawer.is-b .drawer-paper {
  background-color: #ffffff;
  border: 0px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.drawer-paper .app-drawer-list .MuiListItem-root {
  border-radius: 5px;
}

.drawer-paper .app-drawer-list .MuiListItem-root .MuiAvatar-root {
  background-color: #ffffff;
  color: #aaaaaa;
  border: 1px solid #cccccc;
}

.app-container.aether .grid-container .grid-item-1 {
  box-sizing: border-box;
  width: 100%;
}

.app-container.aether .grid-container .grid-item-2 {
  box-sizing: border-box;
  width: 100%;
}

.app-container.aether .grid-container .grid-item-trickery {
  box-sizing: border-box;
  width: 100%;
}

.app-drawer .app-drawer-title {
  padding-top: 5px;
  font-size: 1.25rem;
  font-weight: bold;
}

ul.pagination {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto;
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}

ul.pagination li.link {
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  margin-left: 9px;
  padding-top: 4px;
  text-align: center;
  line-height: 1.5;
  border-radius: 16px;
  color: #333333;
}

ul.pagination:not(a) > li.link:first-child,
ul.pagination > a:first-child > li.link {
  margin-left: 0px;
}

ul.pagination li.link.previous,
ul.pagination li.link.next {
  border: 0px;
  padding-top: 3px;
}

ul.pagination li.link.active {
  background-color: #3c007e;
  border: 1px solid #3c007e;
  opacity: 0.8;
  color: #ffffff;
  font-weight: bold;
}

ul.pagination li.link.disabled {
  opacity: 0.3;
}

div.app-footer-mobile .bottomNavigation {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: auto;
  z-index: 1200;
  border-top: 1px solid #eeeeee;
}

div.app-footer-mobile .bottomNavigation .navButton {
  padding: 0px;
  color: #aaaaaa;
}

div.app-footer-mobile .bottomNavigation .navButton.Mui-selected {
  color: #000000;
}

.app-mobile-drawer .drawer-header {
  border-bottom: 1px solid #efefef;
}

.app-mobile-drawer .drawer-body {
  width: 100%;
  box-sizing: border-box;
  max-width: 320px;
  background-color: #ffffff;
}

.app-mobile-drawer .drawer-body .app-drawer-list {
  padding: 10px;
}

header.aether-header {
  background-color: #ffffff;
  transition: none;
  box-shadow: none;
  border-bottom: 1px solid #eeeeee;
}

.header-navigation {
  position: absolute;
  width: 100%;
}

.header-navigation .tabs .MuiTabs-indicator {
  background-color: #7900ff;
  height: 5px;
}

header.aether-header .header-title {
  padding-left: 10px;
}

header.aether-header .header-title h6 {
  color: #000000;
  font-family: "Noto Sans KR";
  font-size: 1rem;
}

.header-navigation .tabs {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto;
}

.header-navigation .tabs .MuiTab-root {
  color: #aaaaaa;
}

.header-navigation .tabs .MuiTab-root.Mui-selected {
  color: #7900ff;
}

.header-navigation .tabs .MuiTab-root .MuiSvgIcon-root {
  font-size: 1.7rem;
}

.header-icon-container {
  position: absolute;
  right: 0px;
}

.header-icon-container .icons-desktop,
.header-icon-container .icons-mobile {
  cursor: pointer;
  box-sizing: border-box;
}

.header-icon-container .icons-desktop {
  height: 56px;
  background-color: #000000;
}

.header-icon-container .icons-mobile {
  height: calc(56px - 10px);
}

.header-icon-container .icons-desktop .icon,
.header-icon-container .icons-mobile .icon {
  box-sizing: border-box;
  background: none;
  color: #333333;
  padding: 0px;
}

.header-icon-container .icons-desktop .icon .MuiSvgIcon-root {
  padding: 17px 8px 16px 8px;
}

.header-icon-container .icons-desktop .icon:first-child .MuiSvgIcon-root {
  padding: 17px 8px 16px 16px;
}

.header-icon-container .icons-desktop .icon:last-child .MuiSvgIcon-root {
  padding: 17px 16px 16px 8px;
}

.header-icon-container .icons-desktop .icon:only-child .MuiSvgIcon-root {
  padding: 17px 16px 16px 16px;
}

.header-icon-container .icons-mobile .icon .MuiSvgIcon-root {
  padding: 12px 5px 10px 5px;
}

.header-icon-container .icons-mobile .icon:first-child .MuiSvgIcon-root {
  padding: 12px 5px 10px 10px;
}

.header-icon-container .icons-mobile .icon:last-child .MuiSvgIcon-root {
  padding: 12px 10px 10px 5px;
}

.header-icon-container .icons-mobile .icon:only-child .MuiSvgIcon-root {
  padding: 12px 10px 10px 10px;
}

.header-icon-container .icons-desktop .icon .MuiSvgIcon-root,
.header-icon-container .icons-mobile .icon .MuiSvgIcon-root {
  font-size: 1.5rem;
}

.header-icon-container .icons-desktop .icon .MuiSvgIcon-root {
  color: #ffffff;
}

.header-icon-container .icons-mobile .icon .MuiSvgIcon-root {
  color: #000000;
}

@media screen and (min-width: 0px) {
  body {
    padding-top: calc(46px + 10px);
  }

  .app-container.aether {
    height: calc(100% - 50px + 10px);
    margin-bottom: 50px;
    padding: 0px 10px;
  }

  .header-navigation .tabs,
.app-mobile-drawer .drawer-header {
    height: 46px;
  }

  .header-navigation .tabs .MuiTab-root {
    min-width: 130px;
  }

  header.aether-header,
header.aether-header .header-title,
.header-navigation .tabs,
.header-navigation .tabs .MuiTab-root {
    min-height: calc(56px - 10px);
  }

  .app-drawer,
.header-navigation,
.header-icon-container .icons-desktop {
    display: none;
  }

  .header-icon-container .icons-mobile {
    display: inline-flex;
  }

  .app-container.aether .grid-container .grid-item-1 {
    width: 100%;
    max-width: 700px;
    margin: 0px auto;
  }

  .app-container.aether .grid-container .grid-item-1,
.app-container.aether .grid-container .grid-item-2,
.app-container.aether .grid-container .grid-item-trickery {
    min-height: calc(100vh - 46px);
  }

  .app-container.aether:not(.onlyRight) .grid-container .grid-item-2,
.app-container.aether.onlyRight .grid-container .grid-item-2,
.app-container.aether .grid-container .grid-item-trickery {
    display: none;
  }
}
@media screen and (min-width: 904px) {
  .app-container.aether:not(.onlyRight) .grid-container .grid-item-1 {
    margin: initial;
    max-width: calc( 1024px - 320px - 40px - ((1024px - 50px) - 100vw) );
  }

  .app-container.aether:not(.onlyRight) .grid-container .grid-item-2 {
    display: block;
    max-width: calc( 320px - (1024px - (1024px - 50px)) );
  }
}
@media screen and (min-width: 974px) {
  .app-container.aether:not(.onlyRight) .grid-container .grid-item-1 {
    max-width: calc(1024px - 320px - 40px);
  }

  .app-container.aether:not(.onlyRight) .grid-container .grid-item-2 {
    max-width: calc(320px - (1024px - 100vw));
  }
}
@media screen and (min-width: 1024px) {
  .app-container.aether:not(.onlyRight) .grid-container .grid-item-1 {
    max-width: calc(100vw - 320px - 40px);
  }

  .app-container.aether:not(.onlyRight) .grid-container .grid-item-2 {
    max-width: 320px;
  }

  .app-container.aether.onlyRight .grid-container .grid-item-1 {
    margin: initial;
    max-width: calc( (1440px - 320px - 27px) - (1440px - 1160px) - ((1160px - 100vw) / 2) );
  }

  .app-container.aether.onlyRight .grid-container .grid-item-2 {
    display: block;
    max-width: calc(320px - ((1160px - 100vw) / 2));
  }
}
@media screen and (min-width: 1160px) {
  body {
    padding-top: calc(56px + 18px);
  }

  .header-navigation .tabs,
.app-mobile-drawer .drawer-header {
    height: 56px;
  }

  .header-navigation .tabs .MuiTab-root {
    min-width: 170px;
  }

  header.aether-header,
header.aether-header .header-title,
.header-navigation .tabs,
.header-navigation .tabs .MuiTab-root {
    min-height: 56px;
  }

  .app-drawer .drawer-paper {
    height: calc(100vh - 56px);
    margin-top: 56px;
    padding: 5px 10px 10px 10px;
  }

  .app-drawer,
.header-navigation,
.header-icon-container .icons-desktop {
    display: inline-flex;
  }

  .header-icon-container .icons-mobile {
    display: none;
  }

  .app-drawer,
.app-drawer .drawer-paper {
    width: calc(320px - ((1440px - 1366px)) / 2);
  }

  .app-footer-mobile {
    display: none;
  }

  .app-container.aether {
    height: auto;
    margin-bottom: 0px;
  }

  .app-container.aether:not(.onlyRight) {
    padding: 0px;
  }

  .app-container.aether:not(.onlyRight) .grid-container .grid-item-1 {
    max-width: calc(720px - (1366px - 100vw));
  }

  .app-container.aether:not(.onlyRight) .grid-container .grid-item-2 {
    padding-right: 10px;
    max-width: calc(320px - ((1440px - 1366px)) / 2);
  }

  .app-container.aether:not(.onlyRight) .grid-container .grid-item-trickery {
    display: block;
    max-width: calc(320px - ((1440px - 1366px)) / 2);
  }

  .app-container.aether.onlyRight .grid-container .grid-item-1 {
    max-width: calc( (1440px - 320px - 27px) - (1440px - 100vw) );
  }

  .app-container.aether.onlyRight .grid-container .grid-item-2 {
    max-width: 320px;
  }

  .app-container.aether .grid-container .grid-item-1,
.app-container.aether .grid-container .grid-item-2,
.app-container.aether .grid-container .grid-item-trickery {
    min-height: calc(100vh - 56px);
  }
}
@media screen and (min-width: 1366px) {
  .app-drawer,
.app-drawer .drawer-paper {
    width: calc(320px - ((1440px - 100vw) / 2));
  }

  .app-container.aether:not(.onlyRight) .grid-container .grid-item-1 {
    max-width: 720px;
  }

  .app-container.aether:not(.onlyRight) .grid-container .grid-item-2 {
    max-width: calc(320px - ((1440px - 100vw)) / 2);
  }

  .app-container.aether:not(.onlyRight) .grid-container .grid-item-trickery {
    max-width: calc(320px - ((1440px - 100vw)) / 2);
  }

  .app-container.aether.onlyRight .grid-container .grid-item-1 {
    max-width: calc( (1440px - 320px - 27px) - (1440px - 100vw) );
  }
}
@media screen and (min-width: 1440px) {
  .app-drawer,
.app-drawer .drawer-paper {
    width: 320px;
  }

  .app-container.aether:not(.onlyRight) .grid-container .grid-item-2 {
    max-width: 320px;
  }

  .app-container.aether:not(.onlyRight) .grid-container .grid-item-trickery {
    max-width: 320px;
  }

  .app-container.aether.onlyRight .grid-container {
    max-width: calc( (1440px - 320px) + 320px + 27px );
    margin: 0px auto;
  }

  .app-container.aether.onlyRight .grid-container .grid-item-1 {
    max-width: calc(1440px - 320px - 27px);
  }
}
.app-container.aether .grid-container .grid-item-1 .filter-box {
  box-shadow: none;
  border-radius: 0px;
  border: 1px solid #eeeeee;
  background: white;
  background: linear-gradient(90deg, white 0%, #f7f7f7 40%, #fefefe 100%);
}
.app-container.aether .grid-container .grid-item-1 .filter-box .title {
  font-weight: bold;
  font-family: "Noto Sans KR";
}
.app-container.aether .grid-container .grid-item-1 .filter-box .filters {
  display: flex;
  flex-direction: column;
}
.app-container.aether .grid-container .grid-item-1 .filter-box .filters .subject {
  display: block;
  padding-bottom: 5px;
  width: 100%;
  font-weight: bold;
  font-size: 0.9em;
}
.app-container.aether .grid-container .grid-item-1 .filter-box .filters .filter {
  display: flex;
}
.app-container.aether .grid-container .grid-item-1 .filter-box .filters .filter .checkbox-item {
  flex-shrink: 0;
}
.app-container.aether .grid-container .grid-item-1 .filter-box .filters .filter .checkbox-item span {
  font-size: 0.9em;
}

.advisor-list .advisor-item {
  display: flex;
  margin-top: 10px;
  box-sizing: border-box;
  border: 1px solid #eeeeee;
}
.advisor-list .advisor-item .col .row {
  display: flex;
  flex-direction: row;
}
.advisor-list .advisor-item .col .row .advisor-picture {
  flex-grow: 0;
}
.advisor-list .advisor-item .col .row .advisor-picture img {
  border-radius: 50%;
}
.advisor-list .advisor-item .col .row .advisor-introduction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}
.advisor-list .advisor-item .col .row .advisor-introduction .personal-information {
  flex-grow: 1;
}
.advisor-list .advisor-item .col .row .advisor-introduction .personal-information .advisor-name {
  font-size: 1.3em;
  font-weight: bold;
}
.advisor-list .advisor-item .col .row .advisor-introduction .personal-information .advisor-job {
  font-size: 0.8em;
  color: #888888;
}
.advisor-list .advisor-item .col .row .advisor-introduction .personal-information .advisor-theme {
  font-size: 0.75em;
}
.advisor-list .advisor-item .col .row .advisor-introduction .rating-information {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}
.advisor-list .advisor-item .col .row .advisor-introduction .rating-information .advisor-rating > span {
  font-size: 1.3em;
}
.advisor-list .advisor-item .col .row .advisor-introduction .rating-information .article-count {
  text-align: right;
  color: #aaaaaa;
}
.advisor-list .advisor-item .col .row .advisor-description {
  margin-top: 10px;
  font-size: 0.9em;
}
.advisor-list .advisor-item .col .advisor-subscription {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
  border-style: solid;
  border-color: #eeeeee;
  text-align: center;
}
.advisor-list .advisor-item .col .advisor-subscription .price {
  font-family: "Noto Sans KR";
  color: #3c007e;
}
.advisor-list .advisor-item .col .advisor-subscription button {
  margin-bottom: 15px;
}
.advisor-list .advisor-item .col.fg-1 {
  flex-grow: 1;
}
.advisor-list .advisor-item .col.fg-0 {
  flex-grow: 0;
}

@media screen and (min-width: 0px) {
  .app-container.aether .grid-container .grid-item-1 .filter-box .filters .filter {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  .advisor-list .advisor-item {
    flex-direction: column;
    padding: 10px;
    font-size: 0.8rem;
  }
  .advisor-list .advisor-item .col .row .advisor-picture img {
    width: 60px;
    height: 60px;
  }
  .advisor-list .advisor-item .col .row .advisor-introduction {
    padding-left: 10px;
  }
  .advisor-list .advisor-item .col .row .advisor-introduction .personal-information .advisor-job {
    padding-bottom: 3px;
  }
  .advisor-list .advisor-item .col .row .advisor-introduction .rating-information .advisor-rating > span {
    font-size: 1.1em;
  }
  .advisor-list .advisor-item .col .row .advisor-introduction .rating-information .article-count {
    font-size: 0.8em;
  }
  .advisor-list .advisor-item .col .advisor-subscription {
    width: 100%;
    margin: 20px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
    border-width: 1px 0px 0px 0px;
  }
  .advisor-list .advisor-item .col .advisor-subscription .price {
    font-size: 1.2em;
    margin-bottom: 15px;
  }
  .advisor-list .advisor-item .col .advisor-subscription button {
    min-width: 150px;
  }
}
@media screen and (min-width: 1160px) {
  .app-container.aether .grid-container .grid-item-1 .filter-box .filters .filter {
    flex-wrap: wrap;
    overflow-x: unset;
  }

  .advisor-list .advisor-item {
    flex-direction: row;
    padding: 20px;
    font-size: 0.9rem;
  }
  .advisor-list .advisor-item .col .row .advisor-picture img {
    width: 68px;
    height: 68px;
  }
  .advisor-list .advisor-item .col .row .advisor-introduction {
    padding-left: 15px;
  }
  .advisor-list .advisor-item .col .row .advisor-introduction .personal-information .advisor-job {
    padding-bottom: 5px;
  }
  .advisor-list .advisor-item .col .row .advisor-introduction .rating-information .advisor-rating > span {
    font-size: 1.3em;
  }
  .advisor-list .advisor-item .col .row .advisor-introduction .rating-information .article-count {
    font-size: 0.9em;
  }
  .advisor-list .advisor-item .col .advisor-subscription {
    width: 170px;
    height: 100%;
    margin: 0px 0px 0px 20px;
    padding: 0px 0px 0px 20px;
    border-width: 0px 0px 0px 1px;
  }
  .advisor-list .advisor-item .col .advisor-subscription .price {
    font-size: 1.2em;
    margin-bottom: 0px;
  }
  .advisor-list .advisor-item .col .advisor-subscription button {
    width: 100%;
  }
}
