body {
    margin: 0px;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-base;
    background-color: $body-bg;
    color: $body-color;
}

a {
    color: initial;
    text-decoration: none;
}

.mt-0 {
    margin-top: 0px !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.left {
    text-align: left !important;
}

.center {
    text-align: center !important;
}

.right {
    text-align: right !important;
}

.red,
.error {
    color: $error-color !important;
}

.green,
.success {
    color: $success-color !important;
}

.app-drawer {
    .drawer-paper {
        background-color: $body-bg;
        border: 0px;
        z-index: 900;
        box-sizing: border-box;

        .app-drawer-list {
            .MuiListItem-root {
                border-radius: 5px;

                .MuiAvatar-root {
                    background-color: #ffffff;
                    color: #aaaaaa;
                    border: 1px solid #cccccc;
                }
            }
        }
    }
}

.app-container.aether {
    .grid-container {
        .grid-item-1,
        .grid-item-2,
        .grid-item-trickery {
            box-sizing: border-box;
            width: 100%;
        }
    }
}

.app-footer-mobile {
    .bottomNavigation {
        height: $mobile-bottomNavigation-height;
        display: flex;
        justify-content: space-evenly;
        background-color: #ffffff;
        width: 100%;
        position: fixed;
        bottom: 0px;
        right: 0px;
        left: auto;
        z-index: 1200;
        border-top: 1px solid #eeeeee;

        .navButton {
            padding: 0px;
            color: #aaaaaa;

            &.Mui-selected {
                color: #000000;
            }
        }
    }
}

header.aether-header {
    background-color: #ffffff;
    transition: none;
    box-shadow: none;
    border-bottom: 1px solid #eeeeee;

    .header-title {
        padding-left: 10px;

        h6 {
            color: #000000;
            font-family: 'Noto Sans KR';
            font-size: 1rem;
        }
    }

    .header-navigation {
        position: absolute;
        width: 100%;

        .tabs {
            width: fit-content;
            margin: 0px auto;

            .MuiTabs-indicator {
                background-color: #7900ff;
                height: 5px;
            }

            .MuiTab-root {
                color: #aaaaaa;

                .MuiSvgIcon-root {
                    font-size: 1.7rem;
                }

                &.Mui-selected {
                    color: #7900ff;
                }
            }
        }
    }

    .header-icon-container {
        position: absolute;
        right: 0px;

        .icons-desktop,
        .icons-mobile {
            cursor: pointer;
            box-sizing: border-box;

            .icon {
                box-sizing: border-box;
                background: none;
                color: #333333;
                padding: 0px;

                .MuiSvgIcon-root {
                    font-size: 1.5rem;
                }
            }
        }

        .icons-desktop {
            height: $header-height;
            background-color: #000000;

            .icon {
                .MuiSvgIcon-root {
                    color: #ffffff;
                    padding: 17px 8px 16px 8px;
                }

                &:first-child .MuiSvgIcon-root {
                    padding: 17px 8px 16px 16px;
                }

                &:last-child .MuiSvgIcon-root {
                    padding: 17px 16px 16px 8px;
                }

                &:only-child .MuiSvgIcon-root {
                    padding: 17px 16px 16px 16px;
                }
            }
        }

        .icons-mobile {
            height: calc(#{$header-height} - 10px);

            .icon {
                .MuiSvgIcon-root {
                    color: #000000;
                    padding: 12px 5px 10px 5px;
                }

                &:first-child .MuiSvgIcon-root {
                    padding: 12px 5px 10px 10px;
                }

                &:last-child .MuiSvgIcon-root {
                    padding: 12px 10px 10px 5px;
                }

                &:only-child .MuiSvgIcon-root {
                    padding: 12px 10px 10px 10px;
                }
            }
        }
    }
}

@media screen and (min-width: $breakpoint-xs) {
    body {
        padding-top: calc(#{$mobile-header-height} + 10px);
    }

    header.aether-header {
        min-height: calc(#{$header-height} - 10px);

        .header-title {
            min-height: calc(#{$header-height} - 10px);
        }

        .header-navigation {
            display: none;

            .tabs {
                height: $mobile-header-height;
                min-height: calc(#{$header-height} - 10px);

                .MuiTab-root {
                    min-width: 130px;
                    min-height: calc(#{$header-height} - 10px);
                }
            }
        }

        .header-icon-container {
            .icons-desktop {
                display: none;
            }

            .icons-mobile {
                display: inline-flex;
            }
        }
    }

    .app-container.aether {
        height: calc(100% - #{$mobile-bottomNavigation-height} + 10px);
        margin-bottom: calc(#{$mobile-bottomNavigation-height} + 20px);
        padding: 0px 10px;

        .grid-container {
            .grid-item-1 {
                width: 100%;
                max-width: 700px;
                margin: 0px auto;
            }

            .grid-item-2,
            .grid-item-trickery {
                display: none;
            }

            .grid-item-1,
            .grid-item-2,
            .grid-item-trickery {
                min-height: calc(100vh - #{$mobile-header-height});
            }
        }
    }

    .app-drawer {
        display: none;
    }
}

@media screen and (min-width: $breakpoint-sm - 120px) {
    .app-container.aether {
        &:not(.onlyRight) {
            .grid-container {
                .grid-item-1 {
                    margin: initial;
                    max-width: calc(
                        #{$breakpoint-sm} - #{$right-grid-item-width} - 40px -
                            ((#{$breakpoint-sm} - 50px) - 100vw)
                    );
                }

                .grid-item-2 {
                    display: block;
                    max-width: calc(
                        #{$right-grid-item-width} - (#{$breakpoint-sm} - (#{$breakpoint-sm} - 50px))
                    );
                }
            }
        }
    }
}

@media screen and (min-width: $breakpoint-sm - 50px) {
    .app-container.aether {
        &:not(.onlyRight) {
            .grid-container {
                .grid-item-1 {
                    max-width: calc(#{$breakpoint-sm} - #{$right-grid-item-width} - 40px);
                }

                .grid-item-2 {
                    max-width: calc(#{$right-grid-item-width} - (#{$breakpoint-sm} - 100vw));
                }
            }
        }
    }
}

@media screen and (min-width: $breakpoint-sm) {
    .app-container.aether {
        &:not(.onlyRight) {
            .grid-container {
                .grid-item-1 {
                    max-width: calc(100vw - #{$right-grid-item-width} - 40px);
                }

                .grid-item-2 {
                    max-width: $right-grid-item-width;
                }
            }
        }

        &.onlyRight {
            .grid-container {
                .grid-item-1 {
                    margin: initial;
                    max-width: calc(
                        (#{$breakpoint-xl} - #{$right-grid-item-width} - 27px) -
                            (#{$breakpoint-xl} - #{$breakpoint-md}) -
                            ((#{$breakpoint-md} - 100vw) / 2)
                    );
                }

                .grid-item-2 {
                    display: block;
                    max-width: calc(#{$right-grid-item-width} - ((#{$breakpoint-md} - 100vw) / 2));
                }
            }
        }
    }
}

@media screen and (min-width: $breakpoint-md) {
    body {
        padding-top: calc(#{$header-height} + 18px);
    }

    header.aether-header {
        min-height: $header-height;

        .header-title {
            min-height: $header-height;
        }

        .header-navigation {
            display: inline-flex;

            .tabs {
                min-height: $header-height;
                height: $header-height;

                .MuiTab-root {
                    min-width: 170px;
                    min-height: $header-height;
                }
            }
        }

        .header-icon-container {
            .icons-desktop {
                display: inline-flex;
            }

            .icons-mobile {
                display: none;
            }
        }
    }

    .app-container.aether {
        height: auto;
        margin-bottom: 20px;

        .grid-container {
            .grid-item-1,
            .grid-item-2,
            .grid-item-trickery {
                min-height: calc(100vh - #{$header-height});
            }
        }

        &.onlyRight {
            .grid-container {
                .grid-item-1 {
                    max-width: calc(
                        (#{$breakpoint-xl} - #{$right-grid-item-width} - 27px) -
                            (#{$breakpoint-xl} - 100vw)
                    );
                }

                .grid-item-2 {
                    max-width: $right-grid-item-width;
                }
            }
        }

        &:not(.onlyRight) {
            padding: 0px;

            .grid-container {
                .grid-item-1 {
                    max-width: calc(#{$center-grid-item-width} - (#{$breakpoint-lg} - 100vw));
                }

                .grid-item-2 {
                    padding-right: 10px;
                    max-width: calc(
                        #{$right-grid-item-width} - ((#{$breakpoint-xl} - #{$breakpoint-lg})) / 2
                    );
                }

                .grid-item-trickery {
                    display: block;
                    max-width: calc(
                        #{$drawer-width} - ((#{$breakpoint-xl} - #{$breakpoint-lg})) / 2
                    );
                }
            }
        }
    }

    .app-drawer {
        display: inline-flex;
        width: calc(#{$drawer-width} - ((#{$breakpoint-xl} - #{$breakpoint-lg})) / 2);

        .drawer-paper {
            width: calc(#{$drawer-width} - ((#{$breakpoint-xl} - #{$breakpoint-lg})) / 2);
            height: calc(100vh - #{$header-height});
            margin-top: $header-height;
            padding: 5px 10px 10px 10px;
        }
    }

    .app-footer-mobile {
        display: none;
    }
}

@media screen and (min-width: $breakpoint-lg) {
    .app-drawer {
        width: calc(#{$drawer-width} - ((#{$breakpoint-xl} - 100vw) / 2));

        .drawer-paper {
            width: calc(#{$drawer-width} - ((#{$breakpoint-xl} - 100vw) / 2));
        }
    }

    .app-container.aether {
        &.onlyRight {
            .grid-container {
                .grid-item-1 {
                    max-width: calc(
                        (#{$breakpoint-xl} - #{$right-grid-item-width} - 27px) -
                            (#{$breakpoint-xl} - 100vw)
                    );
                }
            }
        }

        &:not(.onlyRight) {
            .grid-container {
                .grid-item-1 {
                    max-width: $center-grid-item-width;
                }

                .grid-item-2 {
                    max-width: calc(#{$right-grid-item-width} - ((#{$breakpoint-xl} - 100vw)) / 2);
                }

                .grid-item-trickery {
                    max-width: calc(#{$drawer-width} - ((#{$breakpoint-xl} - 100vw)) / 2);
                }
            }
        }
    }
}

@media screen and (min-width: $breakpoint-xl) {
    .app-drawer {
        width: $drawer-width;

        .drawer-paper {
            width: $drawer-width;
        }
    }

    .app-container.aether {
        &.onlyRight {
            .grid-container {
                max-width: calc(
                    (#{$breakpoint-xl} - #{$right-grid-item-width}) + #{$right-grid-item-width} + 27px
                );
                margin: 0px auto;

                .grid-item-1 {
                    max-width: calc(#{$breakpoint-xl} - #{$right-grid-item-width} - 27px);
                }
            }
        }

        &:not(.onlyRight) {
            .grid-container {
                .grid-item-2 {
                    max-width: $right-grid-item-width;
                }

                .grid-item-trickery {
                    max-width: $drawer-width;
                }
            }
        }
    }
}
