body {
    margin: 0px;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-base;
    background-color: $body-bg;
    color: $body-color;
    overflow-x: hidden;
}

a {
    color: initial;
    text-decoration: none;
}

.app-drawer {
    .drawer-paper {
        display: flex;
        background-color: $body-bg;
        border: 0px;
        z-index: $zIndex-drawer;
        box-sizing: border-box;
        transition: transform 500ms cubic-bezier(0, 0, 0.2, 1) 0ms,
            height 500ms cubic-bezier(0, 0, 0.2, 1) 0ms;

        .app-drawer-list {
            overflow-x: hidden;
            overflow-y: auto;
            padding: 0px;

            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }

            .MuiListItem-root {
                border-radius: 5px;

                .MuiAvatar-root {
                    background-color: #ffffff;
                    color: #aaaaaa;
                    border: 1px solid #cccccc;
                }
            }
        }
    }
}

.app-container.aether {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0px;

    .grid-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .grid-item-1,
        .grid-item-2,
        .grid-item-trickery {
            flex-grow: 0;
            flex-shrink: 0;
            box-sizing: border-box;
            height: 3000px;
        }
    }
}

.app-footer-mobile {
    .bottomNavigation {
        height: $mobile-bottomNavigation-height;
        display: flex;
        justify-content: space-evenly;
        background-color: #ffffff;
        width: 100%;
        position: fixed;
        bottom: 0px;
        right: 0px;
        left: auto;
        z-index: $zIndex-bottomNavigation;
        border-top: 1px solid #eeeeee;

        .navButton {
            padding: 0px;
            color: #aaaaaa;

            &.Mui-selected {
                color: #000000;
            }
        }
    }
}

header.aether-header {
    background-color: #282828;
    transition: none;
    box-shadow: none;
    z-index: $zIndex-header;

    .header-toolbar {
        display: flex;
        justify-content: space-between;

        .header-title {
            a {
                color: #ffffff;
                font-weight: bold;
                text-decoration: none;
                -webkit-tap-highlight-color: transparent;
                user-select: none;
            }
        }

        .header-icon-container {
            display: flex;

            .icons-desktop,
            .icons-mobile {
                cursor: pointer;
                box-sizing: border-box;
                -webkit-tap-highlight-color: transparent;
                user-select: none;

                .icon {
                    box-sizing: border-box;
                    background: none;

                    a {
                        display: flex;
                        color: #c5c5c5;
                        text-decoration: none;
                        transition: color 0.1s linear;

                        .MuiSvgIcon-root {
                            font-size: 1.5rem;
                            transition: transform 0.1s linear;
                        }

                        &:hover {
                            color: #ffffff;

                            .MuiSvgIcon-root {
                                transform: scale(1.2, 1.2);
                            }
                        }
                    }

                    &:first-child {
                        margin-left: 0px;
                    }

                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }

            .icons-desktop {
                .icon {
                    margin: 0px 10px;
                }
            }

            .icons-mobile {
                .icon {
                    margin: 0px 8px;
                }
            }
        }
    }
}

.header-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    background-color: #282828;
    z-index: $zIndex-headerNavigation;

    .header-navigation-box {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        &::before,
        &::after {
            content: '';
            display: block;
            visibility: hidden;
            position: absolute;
            width: 50px;
            height: 100%;
            opacity: 0;
            transition: opacity 0.4s linear, visibility 0.4s linear;
        }

        &.start {
            &::after {
                visibility: visible;
                opacity: 1;
            }

            &::before {
                visibility: hidden;
                opacity: 0;
            }
        }

        &.scrolling {
            &::after,
            &::before {
                visibility: visible;
                opacity: 1;
            }
        }

        &.end {
            &::before {
                visibility: visible;
                opacity: 1;
            }

            &::after {
                visibility: hidden;
                opacity: 0;
            }
        }

        &::before {
            background: linear-gradient(
                90deg,
                rgba(40, 40, 40, 1) 0%,
                rgba(40, 40, 40, 0.5) 50%,
                rgba(40, 40, 40, 0) 100%
            );
            left: 0px;
        }

        &::after {
            background: linear-gradient(
                90deg,
                rgba(40, 40, 40, 0) 0%,
                rgba(40, 40, 40, 0.5) 50%,
                rgba(40, 40, 40, 1) 100%
            );
            right: 0px;
        }

        ul {
            display: flex;
            list-style: none;
            height: 100%;
            padding: 0px;
            margin: 0px;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;

            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }

            .items {
                display: flex;
                align-items: center;

                li {
                    display: inline-flex;

                    &:first-child {
                        a {
                            padding-left: 0px;
                        }
                    }

                    &:last-child {
                        a {
                            padding-right: 0px;
                        }
                    }

                    a {
                        color: #bbbbbb;
                        text-decoration: none;
                        transition: color 0.2s linear;
                        -webkit-tap-highlight-color: transparent;
                        user-select: none;

                        &.highlight {
                            color: #ffffff;
                        }

                        &.externel {
                            color: #888888;
                        }

                        &.selected {
                            color: #ffffff;
                        }
                    }

                    .sublinksBox {
                        background-color: #ffffff;
                        width: 200px;
                        overflow-x: hidden;
                        box-shadow: 0px 3px 10px 0px rgba(148, 137, 137, 0.2);

                        h5.sublinksTitle {
                            font-size: 1em;
                            font-weight: bold;
                            margin: 0px;
                            padding: 10px;
                            border-bottom: 1px solid #dddddd;
                        }

                        ol.sublinks {
                            display: flex;
                            flex-direction: column;
                            flex-wrap: nowrap;
                            list-style: none;
                            margin: 0px;
                            padding: 10px;

                            li.sublinkItem {
                                display: block;
                                width: 100%;
                                padding: 2px;
                                box-sizing: border-box;

                                a {
                                    color: #444444;
                                    font-size: 0.9em;
                                }

                                &:first-child {
                                    padding-top: 0px;
                                }

                                &:last-child {
                                    padding-bottom: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $breakpoint-xs) {
    body {
        padding-top: $mobile-header-height;
    }

    header.aether-header {
        height: $mobile-header-height;

        .header-toolbar {
            min-height: $mobile-header-height;
            height: $mobile-header-height;
            padding-left: $mobile-margin-both-side;
            padding-right: $mobile-margin-both-side;

            .header-title {
                font-size: 1.2rem;
            }

            .header-icon-container {
                .icons-desktop {
                    display: none;
                }

                .icons-mobile {
                    display: inline-flex;
                }
            }
        }
    }

    .header-navigation {
        height: $mobile-header-navigation-height;
        padding-left: $mobile-margin-both-side;
        padding-right: $mobile-margin-both-side;

        .header-navigation-box {
            ul {
                .items {
                    li {
                        a {
                            padding: 0px 10px;
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
    }

    .app-container.aether {
        height: calc(100% - #{$mobile-bottomNavigation-height} + #{$mobile-margin-both-side});
        margin-bottom: calc(#{$mobile-bottomNavigation-height} + 20px);
        padding-top: calc(#{$mobile-header-navigation-height} + #{$mobile-margin-both-side});
        padding-left: $mobile-margin-both-side;
        padding-right: $mobile-margin-both-side;

        .grid-container {
            justify-content: center;

            .grid-item-1 {
                width: 100%;
                max-width: $center-grid-item-width;
            }

            .grid-item-1,
            .grid-item-2,
            .grid-item-trickery {
                min-height: calc(100vh - #{$mobile-header-height});
            }

            .grid-item-2,
            .grid-item-trickery {
                display: none;
            }
        }
    }

    .app-drawer {
        display: none;
    }
}

@media screen and (min-width: $breakpoint-sm) {
    header.aether-header {
        height: $mobile-header-height;

        .header-toolbar {
            min-height: $mobile-header-height;
            height: $mobile-header-height;
        }
    }

    .app-container.aether {
        &:not(.half-container) {
            .grid-container {
                justify-content: space-between;
            }
        }

        .grid-container {
            .grid-item-1 {
                margin: initial;
                flex-shrink: 1;
                width: $center-grid-item-width;
                max-width: none;
            }

            .grid-item-2 {
                display: block;
                flex-shrink: 1;
                margin-left: $mobile-margin-both-side;
                width: $right-grid-item-width;
            }
        }
    }
}

@media screen and (min-width: $breakpoint-md) {
    body {
        padding-top: $header-height;
    }

    .header-navigation {
        height: $header-navigation-height;
        padding-left: $margin-both-side;
        padding-right: $margin-both-side;

        .header-navigation-box {
            ul {
                .items {
                    li {
                        a {
                            padding: 0px 15px;
                            font-size: 0.85em;
                        }
                    }
                }
            }
        }
    }

    header.aether-header {
        height: $header-height;

        .header-toolbar {
            min-height: $header-height;
            height: $header-height;
            padding-left: $margin-both-side;
            padding-right: $margin-both-side;

            .header-title {
                font-size: 1.5rem;
            }

            .header-icon-container {
                .icons-desktop {
                    display: inline-flex;
                }

                .icons-mobile {
                    display: none;
                }
            }
        }
    }

    .app-container.aether {
        height: auto;
        margin-bottom: 20px;
        padding-top: calc(#{$header-navigation-height} + #{$margin-both-side});
        padding-left: $margin-both-side;
        padding-right: $margin-both-side;

        .grid-container {
            .grid-item-1,
            .grid-item-2,
            .grid-item-trickery {
                min-height: calc(100vh - #{$header-height});
            }

            .grid-item-2 {
                margin-left: $margin-both-side;
            }
        }

        &:not(.half-container) {
            .grid-container {
                .grid-item-trickery {
                    display: block;
                    width: 100%;
                    max-width: calc(
                        #{$drawer-width} - ((#{$breakpoint-xl} - #{$breakpoint-lg})) / 2
                    );
                }
            }
        }
    }

    .app-drawer {
        display: inline-flex;
        width: calc(#{$drawer-width} - ((#{$breakpoint-xl} - #{$breakpoint-lg})) / 2);

        .drawer-paper {
            width: calc(#{$drawer-width} - ((#{$breakpoint-xl} - #{$breakpoint-lg})) / 2);
            height: calc(100vh - #{$header-height} - #{$header-navigation-height});
            margin-top: calc(#{$header-height} + #{$header-navigation-height});

            &.in {
                height: calc(100vh - #{$header-height});
            }

            .app-drawer-list {
                .items {
                    padding: 20px 10px 10px 20px;
                }
            }
        }
    }

    .app-footer-mobile {
        display: none;
    }
}

@media screen and (min-width: $breakpoint-lg) {
    .app-drawer {
        width: calc(#{$drawer-width} - ((#{$breakpoint-xl} - 100vw) / 2));

        .drawer-paper {
            width: calc(#{$drawer-width} - ((#{$breakpoint-xl} - 100vw) / 2));
        }
    }

    .app-container.aether {
        &:not(.half-container) {
            .grid-container {
                .grid-item-trickery {
                    max-width: calc(#{$drawer-width} - ((#{$breakpoint-xl} - 100vw)) / 2);
                }
            }
        }
    }
}

@media screen and (min-width: $breakpoint-xl) {
    .app-drawer {
        width: $drawer-width;

        .drawer-paper {
            width: $drawer-width;
        }
    }

    .app-container.aether {
        &:not(.half-container) {
            .grid-container {
                .grid-item-trickery {
                    max-width: $drawer-width;
                }
            }
        }
    }
}
