// Breakpoints
$breakpoint-xs: 0px;
$breakpoint-sm: 1024px;
$breakpoint-md: 1160px;
$breakpoint-lg: 1366px;
$breakpoint-xl: 1440px;

// Body
$body-bg: #fefefe;
$body-color: #333333;

// Typography
$font-family-sans-serif: 'Nanum Gothic', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #282828;
$secondary: #46437a;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$error-color: #a10000;
$success-color: #45bd00;
$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
);

$header-height: 64px;
$header-navigation-height: 40px;
$mobile-header-height: 48px;
$mobile-header-navigation-height: 40px;
$mobile-bottomNavigation-height: 50px;
$drawer-width: 320px;
$center-grid-item-width: 1024px;
$right-grid-item-width: 300px;
$margin-both-side: 20px;
$mobile-margin-both-side: 10px;

$zIndex-drawer: 900;
$zIndex-header: 1190;
$zIndex-bottomNavigation: 1190;
$zIndex-headerNavigation: 1180;
